---
layout: layouts/main.liquid
subpage: true
---

<h2>{{title}}</h2>

{% if photographers %}
<h3>Fotos von</h3>
<div class="photographers">
{%- for photographer in photographers-%}
<a href="https://www.instagram.com/{{photographer_data[photographer].instagram }}" target="_blank" referrerPolicy="no-referrer" class="photographer">
<img src="{{photographer_data[photographer].picture}}" alt="{{photographer}}">
<span class="photographer__name">{{photographer_data[photographer].fullName}}</span>
</a>
{%- endfor %}
</div>
{%- endif %}

<section id="grid">
{% for album in google_photos %}

<a class="card" href="{{album.url}}">
{% if album.cover -%}
<img src="{{album.cover}}" alt="{{album.name}}">
<img src="{{album.cover}}" alt="{{album.name}}">
{% endif %}
<footer>
<h3>{{album.name}}</h3>
</footer>
</a>

{% endfor %}
</section>

{{content}}
